doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- script(src="/__/firebase/8.0.0/firebase-app.js")
    //- script(src="/__/firebase/8.0.0/firebase-analytics.js")
    //- script(src="/__/firebase/init.js")
  body
    block content
